@model InteracoesMedicamentosas.Models.Interacao

@{
    Layout = "~/Views/Layout/Shared/_layout.cshtml";
}
<div class="carousel carousel-slider center">
    @*<div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div>*@
    <div class="carousel-item blue lighten-2 white-text" href="#one!">
        <h2>Desafios dos farmacêuticos</h2>
        <p class="white-text">Favero é incisivo em afirmar que há desafios que devem ser encarados pelos farmacêuticos para minimizar os problemas com medicamentos. Ele destaca os três principais:</p>
    </div>
    <div class="carousel-item blue lighten-2 white-text" href="#two!">
        <h2>1 – Dedicação na pesquisa</h2>
        <p class="white-text"> Há a necessidade de o farmacêutico se dedicar durante o atendimento para a avaliação da interação. Há softwares e aplicativos para aparelho celular que realizam isso de forma a otimizar o trabalho. A atualização desses recursos deve ocorrer com frequência, pois se trata de um banco de dados que é enriquecido conforme as reações são registradas e documentadas.</p>
    </div>
    <div class="carousel-item blue lighten-2 white-text" href="#three!">
        <h2>2 – Interpretação cuidadosa</h2>
        <p class="white-text">Nem todas as interações estão documentadas e são conhecidas. Isso quer dizer que há a possibilidade de ocorrer uma interação e ela ser interpretada erroneamente, como se fosse uma reação adversa dos fármacos envolvidos, e na realidade o que ocorreu foi uma manifestação da interação medicamentosa. </p>
    </div>
    <div class="carousel-item blue lighten-2 white-text" href="#four!">
        <h2>3 – Orientação assertiva</h2>
        <p class="white-text">Além de verificar as possíveis interações, deve-se afastar as administrações de diferentes fármacos durante do dia. Orientar o paciente que ele deve utilizar os medicamentos com certo intervalo de tempo, a fim de evitar possíveis interações desconhecidas, lembrando que muitos pacientes, principalmente idosos, utilizam vários medicamentos ao mesmo tempo, o que ocasiona grandes chances de interações.</p>
        <br/><br/><br/><br/><hr/>
        <p class="white-text">http://www.ictq.com.br/varejo-farmaceutico/645-10-interacoes-medicamentosas-mais-frequentes</p>
    </div>
</div>
<div class="row white">
    <div class="col s12 " align="center">
        <p></p>
        <p class="flow-text blue-text">Faça sua Pequisa:</p>
        <p></p>
    </div>
</div>
<div class="carousel">
    <a class="carousel-item" href="#two!"><img src="~/Img/pesquisa.jpg" /></a>
    <a class="carousel-item" href="@Url.Action("Consulta","Produto")"><img src="~/Img/medicamento.jpg"/></a>
    <a class="carousel-item" href="#three!"><img src="~/Img/reacao.jpg"/></a>
</div>


<div class="parallax-container">
    <div class="parallax">
        <img src="~/Img/ParallaxMedico.jpg" /></div>
</div>



<script>
    $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true
    });
    $(document).ready(function () {
        $('.parallax').parallax();
        $('.carousel').carousel();
        setInterval(function () {
            $('.carousel').carousel('next');
        }, 10000);
    });

</script>
