<head>
    <div class="navbar-fixed">
        <nav class="blue">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><i class="large material-icons">local_hospital</i></a>
                <ul class="right hide-on-med-and-down">
                    <li ><a href="@Url.Action("Index", "Interacao")">Interações</a></li>
                </ul>
            </div>
        </nav>
    </div>
</head>
