<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Volte Sempre!</h5>
                <p class="grey-text text-lighten-4">Diogo</p>
                <p class="grey-text text-lighten-4">Maxwell</p>
                <p class="grey-text text-lighten-4">Gustavo</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Parceiros</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.microsoft.com/pt-br">Microsoft</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www3.lenovo.com/br/pt/">Lenovo</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.americanas.com.br/">Americanas</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Brasil
            <a class="grey-text text-lighten-4 right" href="#!">br</a>
        </div>
    </div>
</footer>